<a href="https://colab.research.google.com/github/rodrigu12/Recommender/blob/master/Hotel_Recommender_Systems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
#setup importing libraries
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [28]:
#importing the data
metadata = pd.read_csv('https://raw.githubusercontent.com/rodrigu12/Recommender/master/booking_com-travel_sample.csv')
metadata.head()

                                             address  ... zone
0     KHIRSU, 246147 Pauri, India – Great location -  ...  NaN
1  Kaathadimattam, Balacola Post, NEAR Siva Tea F...  ...  NaN
2      PIPALKOTI, 246472 Pīpalkoti, India – Show map  ...  NaN
3  1 KARIYIL HOUSE KUMARAKOM NORTH PO KOTTAYAM, 6...  ...  NaN
4  Kavanattinkara, 686563 Kumarakom, India – Show...  ...  NaN

[5 rows x 29 columns]

In [29]:
#print the plot of the hotel description
metadata['hotel_description'].head()

0    Khirsu By GMVN offers accommodation in Pauri. ...
1    Situated in Ooty in the Tamil Nadu Region, 8 k...
2    TRH Pipalkoti offers accommodation in Pīpalkot...
3    Swasti house boat 2 is located in Kumarakom, 3...
4    Amrutham Houseboat 2 is set in Kumarakom, 5 km...
Name: hotel_description, dtype: object

In [30]:
#Defining a TF-IDF Vectorizer OObject. Removes all english stops words such as 'a', 'the'
tfidf= TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string 
metadata ['hotel_description'] = metadata['hotel_description'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(metadata['hotel_description'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(6000, 5249)

In [31]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
cosine_sim.shape

(6000, 6000)

In [32]:
indices = pd.Series(metadata.index, index=metadata['property_name']).drop_duplicates()

In [33]:
indices [:10]

property_name
Khirsu By GMVN          0
Global Village Ooty     1
TRH Pipalkoti           2
Swasti house boat 2     3
Amrutham Houseboat 2    4
The Hill Side           5
Hotel Mountain Face     6
Rahi Motel Haridwar     7
Swasti house boat 4     8
NaN                     9
dtype: int64

In [46]:
#create a function that takes in the name of a hotel and outputs recommended hotels

def get_recommendations(property_name, cosine_sim=cosine_sim):
  #get the index of the hotel that matches the hotel_name
    idx = indices[property_name]
  
    if isinstance(idx, pd.core.series.Series):
      idx = idx[0]

  #get the pairwise similarity scores of all hotel with that description
    sim_scores = list(enumerate(cosine_sim[idx]))

  #sort the hotels based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

  #Get the scores of the 10 most similar hotels
    sim_scores = sim_scores[1:11]
  
  #Get the hotel indices
    hotel_indices = [i[0] for i in sim_scores]
  
  #Return the top 10 most similar movies
    return metadata['property_name'].iloc[hotel_indices]

In [47]:
get_recommendations('Vishwaratna Hotel')

1021                       Vishwaratna Hotel
1214                       Vishwaratna Hotel
1429                       Vishwaratna Hotel
2027                       Vishwaratna Hotel
2251                       Vishwaratna Hotel
4245    The Guwahati Address By Centre Point
4447    The Guwahati Address By Centre Point
3494                          Hotel Prince B
3971                          Hotel Prince B
3958                          Hotel Prince B
Name: property_name, dtype: object

In [48]:
get_recommendations('Hotel Mountain Face')

44      Hotel Mountain Face
148     Hotel Mai Vrindavan
187     Hotel Mai Vrindavan
280     Hotel Mai Vrindavan
961       Vishwaratna Hotel
1021      Vishwaratna Hotel
1214      Vishwaratna Hotel
1429      Vishwaratna Hotel
2027      Vishwaratna Hotel
2251      Vishwaratna Hotel
Name: property_name, dtype: object

In [49]:
get_recommendations('Vishwaratna Hotel')

1021                       Vishwaratna Hotel
1214                       Vishwaratna Hotel
1429                       Vishwaratna Hotel
2027                       Vishwaratna Hotel
2251                       Vishwaratna Hotel
4245    The Guwahati Address By Centre Point
4447    The Guwahati Address By Centre Point
3494                          Hotel Prince B
3971                          Hotel Prince B
3958                          Hotel Prince B
Name: property_name, dtype: object